In [27]:
import pandas as pd 
from sqlalchemy import create_engine
import os

In [23]:
from dotenv import load_dotenv
import os

In [24]:
load_dotenv()

True

In [3]:
retail_df =pd.read_excel("Online Retail Data Set.xlsx")

In [10]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
retail_df.shape

(541909, 8)

In [12]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [13]:
retail_df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [9]:
retail_df['InvoiceDate'] = pd.to_datetime(retail_df['InvoiceDate'])

In [11]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [25]:
db_url = os.getenv("DATABASE_URL")
print(db_url)

postgresql+psycopg2://postgres:12345@localhost:5432/retail

In [29]:
engine = create_engine(db_url)

In [38]:
retail_df.to_sql("retail",con=engine,if_exists='append',index=False)

909

In [31]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [32]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [39]:
data_query = '''
select * from retail;
'''
retail_df= pd.read_sql(data_query,con=db_url)

In [42]:
valid_df = retail_df[retail_df['Quantity'] >= 1]

In [43]:
invalid_df = retail_df[retail_df['Quantity'] < 1]

In [44]:
print(retail_df.columns.tolist())

['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

In [45]:
valid_price_df = retail_df[retail_df['UnitPrice'] >= 0]

In [56]:
retail_df = retail_df[~retail_df['InvoiceNo'].astype(str).str.startswith('C')]

In [68]:
null_columns = retail_df.columns[retail_df.isnull().any()]
print(null_columns.tolist())

[]

In [57]:
retail_df = retail_df.dropna(subset=['CustomerID'])

In [58]:
retail_df = retail_df.drop_duplicates()

In [59]:
retail_df['Revenue'] = retail_df['Quantity'] * retail_df['UnitPrice']

In [60]:
retail_df['InvoiceDate'] = pd.to_datetime(retail_df['InvoiceDate'])

In [61]:
retail_df['Year'] = retail_df['InvoiceDate'].dt.year
retail_df['Month'] = retail_df['InvoiceDate'].dt.month
retail_df['Day'] = retail_df['InvoiceDate'].dt.day

In [62]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1

In [64]:
engine = create_engine("postgresql+psycopg2://postgres:12345@localhost:5432/retail")

In [ ]:
retail_df.to_sql( name='online_retail',con=engine,if_exists='replace',index=False)

732

In [70]:
data_2011 = retail_df[retail_df['Year'] == 2011]

In [71]:
monthly_revenue = data_2011.groupby('Month')['Revenue'].sum().reset_index()
monthly_revenue = monthly_revenue.sort_values('Month')
print(monthly_revenue)

    Month      Revenue
0       1   568101.310
1       2   446084.920
2       3   594081.760
3       4   468374.331
4       5   677355.150
5       6   660046.050
6       7   598962.901
7       8   644051.040
8       9   950690.202
9      10  1035642.450
10     11  1156205.610
11     12   517190.440

In [72]:
monthly_revenue['Revenue_Change'] = monthly_revenue['Revenue'].diff()
monthly_revenue['Percent_Change'] = monthly_revenue['Revenue'].pct_change() * 100
print(monthly_revenue)

    Month      Revenue  Revenue_Change  Percent_Change
0       1   568101.310             NaN             NaN
1       2   446084.920     -122016.390      -21.477928
2       3   594081.760      147996.840       33.176831
3       4   468374.331     -125707.429      -21.159954
4       5   677355.150      208980.819       44.618333
5       6   660046.050      -17309.100       -2.555395
6       7   598962.901      -61083.149       -9.254377
7       8   644051.040       45088.139        7.527701
8       9   950690.202      306639.162       47.611003
9      10  1035642.450       84952.248        8.935850
10     11  1156205.610      120563.160       11.641388
11     12   517190.440     -639015.170      -55.268299

In [73]:
country_data = retail_df[retail_df['Country'] != 'United Kingdom']

In [74]:
country_summary = country_data.groupby('Country').agg(
    Total_Revenue=pd.NamedAgg(column='Revenue', aggfunc='sum'),
    Total_Quantity=pd.NamedAgg(column='Quantity', aggfunc='sum')
).reset_index()

In [75]:
country_summary = country_summary.sort_values(by='Total_Revenue', ascending=False)

In [78]:
top_countries = country_summary.head(10)
print(top_countries)

        Country  Total_Revenue  Total_Quantity
23  Netherlands      285446.34          200937
10         EIRE      265262.46          140383
14      Germany      228678.40          119156
13       France      208934.31          111429
0     Australia      138453.81           84199
30        Spain       61558.56           27944
32  Switzerland       56443.95           30083
3       Belgium       41196.34           23237
31       Sweden       38367.83           36078
19        Japan       37416.37           26016

In [79]:
customer_summary = retail_df.groupby('CustomerID').agg(
    Total_Revenue=pd.NamedAgg(column='Revenue', aggfunc='sum')
).reset_index()

In [80]:
customer_summary = customer_summary.sort_values(by='Total_Revenue', ascending=False)

In [81]:
top_customers = customer_summary.head(10)
print(top_customers)

      CustomerID  Total_Revenue
1690     14646.0      280206.02
4202     18102.0      259657.30
3729     17450.0      194390.79
3009     16446.0      168472.50
1880     14911.0      143711.17
55       12415.0      124914.53
1334     14156.0      117210.08
3772     17511.0       91062.38
2703     16029.0       80850.84
0        12346.0       77183.60

## Global Product Demand

In [82]:
data = retail_df[retail_df['Country'] != 'United Kingdom']

In [83]:
country_demand = data.groupby('Country').agg(
    Total_Quantity=pd.NamedAgg(column='Quantity', aggfunc='sum')
).reset_index()

In [84]:
country_demand = country_demand.sort_values(by='Total_Quantity', ascending=False)
print(country_demand)

                 Country  Total_Quantity
23           Netherlands          200937
10                  EIRE          140383
14               Germany          119156
13                France          111429
0              Australia           84199
31                Sweden           36078
32           Switzerland           30083
30                 Spain           27944
19                 Japan           26016
3                Belgium           23237
24                Norway           19338
26              Portugal           16095
12               Finland           10704
6        Channel Islands            9485
9                Denmark            8235
18                 Italy            8112
7                 Cyprus            6340
29             Singapore            5241
1                Austria            4881
17                Israel            4043
25                Poland            3684
5                 Canada            2763
16               Iceland            2458
33                   USA            2458
35           Unspecified            1785
15                Greece            1557
34  United Arab Emirates             982
22                 Malta             970
8         Czech Republic             671
21             Lithuania             652
11    European Community             499
20               Lebanon             386
4                 Brazil             356
27                   RSA             352
2                Bahrain             260
28          Saudi Arabia              80